
.btn-primary {
      width: 100px;
      height: 42px;
      border-radius: 8px;
      border-style: none;
    
}
.dropzone-content{
      padding: 5px 0px 20px 0px;
}

.btn-danger{
      width: 100px;
      height: 42px;
      border-radius: 8px;
      border-style: none;
    
}


.margin1
{
      margin-left: 150px;
}
.margin2{

      margin-left: 170px;
}
.font-size{
      font-size: 120%;
} 


.mt1{
      margin-top: 190px;
}
