.Employee1{
      margin-left: 360px;
      margin-top: 20px;
}
.Employee1 input[type=text]{
      width: 320px;
      padding: 20px 20px 20px 20px;
      margin-left: 280px;
      border-radius: 5px;
      box-sizing: border-box;
}

.Employee{
      margin-left: 360px;
}
.Employee input[type=text]{
      width: 320px;
      padding: 20px 20px 20px 20px;
      margin-left: 330px;
      border-radius: 5px;
      box-sizing: border-box;
}
.btn1{
     
      margin: 50px 0px 0px 350px;
      color: white;
      background-color: dodgerblue;
      height: 50px;
      width: 800px;
      
     
    
}

.heading{ 
      text-align: center;
}
.lebel1{
      font-weight: 300px;
      font-size: 150%;
      font-family:  'Arial', sans-serif;
     
}

.lebel2{
      font-weight: 300px;
      font-size: 150%;
      font-family:  'Arial', sans-serif;  
}
.btn-primary {
      width: 100px;
}

.btn-danger{
      width: 100px;
}

@media(max-width:1110px){

      .Employee1{
            margin-left: 200px;
            margin-top: 30px;
      }

      .Employee1 input[type=text]{
            width: 350px;
            padding: 20px 10px 20px 20px;
            margin-left: 90px;
            border-radius: 3px;
            box-sizing: border-box;
      }
      .Employee{
            margin-top: 100px;
            margin-left:200px;
      }
      .Employee input[type=text]{
            width: 350px;
            padding: 20px 10px 20px 20px;
            margin-left: 160px;
            border-radius: 3px;
            box-sizing: border-box;
      }

      .lebel1{
            margin-top: 10px;
            font-weight: 100px;
            font-size: 200%;
            font-family:  'Arial', sans-serif;
           
      }
       
      .lebel2{
            font-weight: 10px;
            font-size: 200%;
            font-family:  'Arial', sans-serif;  
      }

      .btn1{
            
            margin: 40px 0px 0px 200px;
            color: white;
            background-color: dodgerblue;
            height: 50px;
            width: 680px;
      } 
            

}


@media(max-width:450px){

      .Employee1{
            margin-left: 100px;
            margin-top: 30px;
      }

      .Employee1 input[type=text]{
            width: 350px;
            padding: 20px 10px 20px 20px;
            margin-left: 130px;
            border-radius: 3px;
            box-sizing: border-box;
      }
      .Employee{
            margin-top: 100px;
            margin-left:100px;
      }
      .Employee input[type=text]{
            width: 350px;
            padding: 20px 10px 20px 20px;
            margin-left: 200px;
            border-radius: 3px;
            box-sizing: border-box;
      }

      .lebel1{
            margin-top: 10px;
            font-weight: 100px;
            font-size: 200%;
            font-family:  'Arial', sans-serif;
           
      }
       
      .lebel2{
            font-weight: 10px;
            font-size: 200%;
            font-family:  'Arial', sans-serif;  
      }

      .btn1{
            
            margin: 40px 0px 0px 100px;
            color: white;
            background-color: dodgerblue;
            height: 50px;
            width: 720px;
      } 
            

}