/* .UserInput{
      margin-top: 110px;
}

.Employee1{
      margin-left: 450px;
      margin-top: 30px;
}
.Employee1 input[type=text]{
      width: 300px;
      padding: 10px 20px 10px 15px;
      margin-left: 220px;
      
    
}

.Employee{
      margin-left: 450px;
}
.Employee input[type=text]{
      width: 300px;
      padding: 10px 20px 10px 15px;
      margin-left: 260px;
      
      
}
.btn1{
      margin: 50px 0px 0px 450px;
      color:white;
      background-color: rgb(36, 131, 226);;
      height: 50px;
      width: 660px;
      border-style: none;
      border-radius: 10px;
}

.heading{ 
      text-align: center;
}
.lebel1{
      font-size: 120%;
      font-family:  Arial, sans-serif;
     
}

.lebel2{
      font-size: 120%;
      font-family:  Arial, sans-serif;  
}
.btn-primary {
      width: 100px;
      height: 42px;
      border-radius: 8px;
      border-style: none;
    
}
.dropzone-content{
      padding: 5px 0px 20px 0px;
}

.btn-danger{
      width: 100px;
      height: 42px;
      border-radius: 8px;
      border-style: none;
    
}

@media(max-width:1110px){

      .Employee1{
            margin-left: 200px;
            margin-top: 30px;
      }

      .Employee1 input[type=text]{
            width: 300px;
            padding: 10px 20px 10px 15px;
            margin-left: 105px;
          
            
      }
      .Employee{
            margin-top: 100px;
            margin-left:200px;
      }
      .Employee input[type=text]{
            width: 300px;
            padding: 10px 20px 10px 15px;
            margin-left: 145px;
            
      }

      .lebel1{
            margin-top: 10px;
            font-size: 120%;
            font-family:  Arial, sans-serif;
           
      }
       
      .lebel2{
            font-weight: 10px;
            font-size: 120%;
            font-family:  Arial, sans-serif;
      }

      .btn1{
            
            margin: 50px 0px 0px 200px;
            color:white;
            background-color:rgb(36, 131, 226);
            height: 50px;
            width: 550px;
            border-style: none;
            border-radius: 10px;
      } 
            

}

.pt1{
      
} */

.margin1
{
      margin-left: 150px;
}
.margin2{

      margin-left: 170px;
}
.font-size{
      font-size: 120%;
} 


.mt1{
      margin-top: 240px;
}
